$color1:#ba8b2c;
$color2:#966c3a;
$color5:#28482f;
$color6:#4b6d45;
$text: #fff;
$border-radius: 20px;

input[type=text], input[type=password], input[type=date], select {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}
input[type=button], button.second, button.primary {
    text-transform: uppercase;
    width: 80%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
}

.primary{
    color: $text;
    background-color: $color5;

    &:hover{
        background-color: $color6;
    }
}

.second{
    color: $text;
    background-color: $color2;

    &:hover{
        background-color: $color1;
    }
}