/* https://codepen.io/geekwen/pen/QNxymm/?editors=1100 */

$color4:#e5c9a0;
$color5:#28482f;
$switch-speed: 1s;
$slider-number: 3;
$slider-width: 100% / $slider-number;

#detalle-noti{
    .footer{
        width: 100%;
        position: fixed;
        bottom: 20px;
        display: flex;
        justify-content: space-around;
        .primary, .second{
            width: 30%;
            margin: 0 20px;
        }
    }
    
}

.card {
    background-color: $color5;
    border-radius: 15px;
    position: relative;
    width: 85%;
    margin: 0 auto;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);

    .card_img img{
        background-color: $color4;
        border-radius: 15px;
        width: 100%;
    }

    .card_details p {
        color: #fff;
        text-align: left;
        padding: 15px;
    }
}

.card_imgs {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-bottom: 55%;
  position: relative;
  background-color: $color4;
  overflow: hidden;

  > input {
    display: none;
  }
  
  .s-content {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% * $slider-number;
    height: 100%;
    font-size: 0;
    list-style: none;
    transition: transform $switch-speed;
  }
  
  .s-item {
    display: inline-block;
    width: $slider-width;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .s-control {
    position: absolute;
    bottom: 18px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition-timing-function: ease-out;

    > label[class^="s-c-"] {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 10px;
      border-radius: 50%;
      border: 1px solid #999;
      background-color: #efefe8;
      cursor: pointer;
    }
  }
  
  .s-nav label {
    display: none;
    position: absolute;
    top: 50%;
    padding: 5px 10px;
    transform: translateY(-50%);
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 7px;
      height: 20px;
      background-color: #fff;
    }

    &::before {margin-bottom: -12px;}

    &.left {
      left: 20px;

      &::before {transform: rotate(45deg);}

      &::after {transform: rotate(-45deg);}
    }

    &.right {
      right: 20px;

      &::before {transform: rotate(-45deg);}

      &::after {transform: rotate(45deg);}
    }
  }

  @for $i from 1 through $slider-number {
    #s-#{$i}:checked {
      & ~ .s-content {transform: translateX(-$slider-width * ($i - 1));}

      & ~ .s-control .s-c-#{$i} {background-color: #333;}

      & ~ .s-nav .s-nav-#{$i} {display: block;}
    }
  }
}
  