$color: #000;


* {
    box-sizing: border-box;
}

body, html{
    margin:0;
    

}

section{
    width: 100%;
    min-width:360px;
    height:640px;
}
p{
    color:$color;
    margin: 5px;
    padding: 20px;
}

h1{
    color: $color;
    font-size: 40px;
    padding: 30px;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    color: $color;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

hr{
    border-color: black;
    background-color: black;
}

.ocultar{
    display: none;
}

.container-fuild{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100%;
    width: 100%;
    text-align: center;
    
    .content{
        padding-bottom: 65px;
    }
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*flex-direction: column;*/
}