body{
    margin:0;
}
section{
    width:360px;
    height:640px;
    text-align: center;
    margin:0;
    padding:0;
}
p{
    color:black;
    margin: 5px;
}

h1{
    color: black;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
}

h2{
    color: black;
    font-size: 30px;
}

hr{
    border-color: black;
    background-color: black;
}

input[type=text], input[type=password], input[type=date], select {
    width: 80%;
    padding: 12px 20px;
    margin-top: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}
input[type=button] {
    width: 80%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #1B4F59;
}