$color: #000;


* {
    box-sizing: border-box;
}

body, html{
    margin:0;
}

section{
    width:360px;
    height:640px;
}
p{
    color:$color;
    margin: 5px;
}

h1{
    color: $color;
    font-size: 40px;
    padding: 30px;
    margin: 0;
}

h2{
    color: $color;
    font-size: 30px;
}

hr{
    border-color: black;
    background-color: black;
}

.container-fuild{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100%;
    width: 100%;
    text-align: center;

    .content{
        height: 100%;
    }
}

