$color1_amarillo:#ba8b2c;
$color2_cafe:#966c3a;
$color3_rojo:#753621;
$color4_rosado:#e5c9a0;
$color5_verde_oscuro:#28482f;
$color6_verde_claro:#4b6d45;

#analisis{
    
    width:30px;
    height:40px;
    
}

nav li{
    float:left;
    width:10%;
    padding:5px 10px;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    list-style:none
}
section nav{
    margin-top: 320px;
}