#instrucciones p{
    margin:25px;
    text-align: left;
}	
.boton{
    background-color: Navy;
    color:white;
    padding: 10px;
    text-decoration: none;
}
.volver{
    margin-left: -300px;
    line-height: 50px;
}