.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.botonregresar, .botonRegresarAjuste, .botonRegresarNoti, .botonRegresarAna, .botonRegresarProd{
    background-image:url(../img/atras.svg);
    height:30px;
    width:30px;
    margin: 15px;
    background-color: transparent;
    /*position: relative;
    right: 150px;*/
    border: none;
}
