#instrucciones p{
    margin:25px;
    text-align: left;
}	
.boton{
    background-color: Navy;
    color:white;
    padding: 10px;
    text-decoration: none;
}
.volver{
    margin-left: -300px;
    line-height: 50px;
}

#botonregresar{
    background-image:url(../img/atras.svg);
    height:40px;
    width:40px;
    margin-left: -320px;
    line-height: 50px;
    background-color: transparent;
    display: inline-block;
    border: none;
}