section{
    width:350px;
    height:640px;
    text-align: center;
    margin:0;
    padding:0;
}
#splash{
    background:#4b6d45;
}
#registro{
    background: OrangeRed;
}
#juego{
    background: Violet;
}
#instrucciones{
    background: YellowGreen;
}
#creditos{
    background: DeepSkyBlue;
}	
#instrucciones p{
    margin:25px;
    text-align: left;
}	
.boton{
    background-color: Navy;
    color:white;
    padding: 10px;
    text-decoration: none;
}
.volver{
    margin-left: -300px;
    line-height: 50px;
}